[Unit]
Description=Watch Me Code - Paired Sockets
After=network.target

[Service]
WorkingDirectory=/srv/paired
User=www-data
Group=www-data
Type=simple
ExecStart=/usr/bin/python3 -m app
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
