<!doctype html>
<html>
<head>
    <title>Watch Me Code! - {{ 'Hosting' if hosting else token }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/hint.css/2.5.0/hint.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <style>
    #code {
        display: block;
        width: 100%;
        min-height: 200px;
        font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        font-size: 12pt;
    }
    html, body {
        height: 100%;
    }
    .wrap {
        min-height: calc(100% - 180pt);
        margin-bottom: 180pt;
    }
    footer {
        height: 160pt;
        margin-top: -160pt;
    }
    .subtitle {
        height: 2em !important;
        padding: 0.25em 0.55em;
    }
    </style>
</head>
<body>
<div class='wrap container is-fluid'>
    <div class='box'>
        <nav class='level'>
            <div class='level-item has-text-centered'>
                <h1 class='title'>Watch Me Code</h1>
            </div>
            <div class='level-item has-text-centered'>
                <div>
                    <p class='heading'>Token</p>
                    {% if hosting %}
                        <button class='button is-white subtitle clipboard hint--rounded hint--bounce'
                                data-clipboard-text='{{ token_url }}'
                                data-hint='Copy'>
                            {{ token }}
                        </button>
                    {% else %}
                    <p class='subtitle'>
                        {{ token }}
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class='level-item has-text-centered'>
                <div>
                    <p class='heading'>Role</p>
                    <p class='subtitle'>
                        {{ 'Host' if hosting else 'Watch' }}
                    </p>
                </div>
            </div>
        </nav>
    </div>
    <pre class='box'>
        <code id="code" tabindex="-1" {% if hosting %}contenteditable{% endif %}></code>
    </pre>
</div>
<footer class='footer'>
    <div class='container is-fluid'>
        <div class='content has-text-centered'>
            <p>
                <strong>Watch Me Code!</strong>
                <br>
                {% if hosting %}
                Share the token so others can watch you code
                {% else %}
                You are watching someone else code
                {% endif %}
            </p>
            <p>
                Licensed MIT or whatever
                | <a href="//github.com/gwillz/paired-sockets" target='_blank'>Code</a>
                | <a href='//gwillz.com.au' target='_blank'>Gwilyn Saunders</a>
            </p>
        </div>
    </div>
</footer>
<script>
    var sock_url = '//' + document.domain + ':' + location.port
    var socket = io.connect(sock_url)
    
    {% if hosting %}
        var timeout;
        
        $('#code').on('keyup', function(e) {
            clearTimeout(timeout)
            timeout = setTimeout(function() {
                socket.send({
                    action: 'data',
                    token: '{{ token }}',
                    data: $(e.target).html(),
                })
            }, 250)
        })
    {% else %}
        socket.send({
            action: 'join',
            token: '{{ token }}',
        })
        socket.on('message', function(data) {
            $("#code").html(data)
        })
    {% endif %}
    
    new Clipboard('.clipboard')
    $('.clipboard').on('click', function(e) {
        $(e.target)
        .attr('data-hint', 'Copied!')
        .addClass('hint--always')
        .addClass('hint--info')
        
        setTimeout(function() {
            $(e.target)
            .removeClass('hint--always')
            
            setTimeout(function() {
                $(e.target)
                .attr('data-hint', 'Copy')
                .removeClass('hint--info')
            }, 500)
        }, 1000)
    })
    
    $("#code")
    .on('keydown', function(e) {
        if (e.key == 'Tab') e.preventDefault()
    })
    .focus()
    
</script>
</body>
</html>
