<!doctype html>
<html>
<head>
    <title>Watch Me Code! {{ '- Hosting' if token else '' }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <style>
    #code {
        display: block;
        width: 100%;
        min-height: 200px;
        font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        font-size: 12pt;
    }
    html, body {
        height: 100%;
    }
    .wrap {
        min-height: calc(100% - 180pt);
        margin-bottom: 180pt;
    }
    footer {
        height: 160pt;
        margin-top: -160pt;
    }
    </style>
</head>
<body>
<div class='wrap container is-fluid'>
    <div class='box'>
        <nav class='level'>
            <div class='level-item has-text-centered'>
                <h1 class='title'>Watch Me Code</h1>
            </div>
            <div class='level-item has-text-centered'>
                <div>
                    <p class='heading'>Token</p>
                    <p class='subtitle' id='token'></p>
                </div>
            </div>
            <div class='level-item has-text-centered'>
                <div>
                    <p class='heading'>Role</p>
                    <p class='subtitle' id='token_role'></p>
                </div>
            </div>
        </nav>
    </div>
    <pre class='box'>
        <code id="code" contenteditable></code>
    </pre>
</div>
<footer class='footer'>
    <div class='container is-fluid'>
        <div class='content has-text-centered'>
            <p>
                <strong>Watch Me Code!</strong>
                <br>
                {% if token %}
                Share the token so others can watch you code
                {% else %}
                You are watching someone else code.
                {% endif %}
            </p>
            <p>
                Licensed MIT or whatever
                | <a href="//git.mk2es.com.au/gwillz/paired-sockets" target='_blank'>Code</a>
                | <a href='//gwillz.com.au' target='_blank'>Gwilyn Saunders</a>
            </p>
        </div>
    </div>
</footer>
<script>
    var sock_url = '//' + document.domain + ':' + location.port
    
    var socket = io.connect(sock_url)
    socket.on('connect', function() {
        console.log('connected.')
    })
    socket.on('disconnect', function() {
        console.log('disconnected.')
    })
    
    if ('{{ token }}'.length > 0) {
        var timeout;
        
        $('#code').on('keyup', function(e) {
            clearTimeout(timeout)
            timeout = setTimeout(function() {
                socket.send({
                    action: 'data',
                    token: '{{ token }}',
                    data: $(e.target).html(),
                })
            }, 250)
        })
        
        $('#token_role').text('Host')
        $('<a/>', {
            href: sock_url + '/' + '{{ token }}',
            class: 'link',
            target: '_blank',
            text: '{{ token }}',
        }).appendTo('#token')
    }
    else {
        var token = window.location.pathname.slice(1)
        
        socket.send({
            action: 'join',
            token: token
        })
        socket.on('message', function(data) {
            $("#code").html(data)
        })
        
        $("#token_role").text('Watch')
        $("title").text('Watch Me Code! - ' + token)
        $("#token").text(token)
        $("#code").prop('contenteditable', false)
    }
</script>
</body>
</html>
